#main-container {
    margin-top: 60px;
}

html {
       overflow-y: scroll;
}

.premsg {
    white-space: pre-wrap;
}

.global-news {
    max-height: 1000px;
    overflow-y: scroll;
}

.content-holder {
    background-color: white;
}

.loading {
    margin-left: 1em;
    color: #777;
}

[data-status] {
    font-weight: bold;
    color: white;
    background-color: gray;
    cursor: pointer;
}

[data-status="OK"] {
    background-color: green;
}

[data-status="TLE"], [data-status="RTE"], [data-status="ANS"], [data-status="MEM"] {
    background-color: rgb(180, 0, 0);
}

[data-status="REJ"], [data-status="CME"] {
    background-color: purple;
}
